**.orig
*.rbc
*.sassc
*.swp
.DS_Store
.env
.powenv
.powrc
.pryrc
.rspec
.rvmrc
.sass-cache
spec/javascripts/tmp_templates/
spec/javascripts/tmp/
.bower-registry/
.bower-cache/
.bower-tmp/
node_modules/
app/lib
npm-debug.log
