/* line 3, ../sass/base.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

/* line 9, ../sass/base.scss */
ng\:form {
  display: block;
}

/* line 13, ../sass/base.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", arial;
  font-size: 12px;
  letter-spacing: .15px;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
}

/* line 26, ../sass/base.scss */
html,
body {
  height: 100%;
  min-height: 100%;
}

/* line 32, ../sass/base.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 36, ../sass/base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

/* line 43, ../sass/base.scss */
label,
input,
button,
select,
textarea {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", arial;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

/* line 54, ../sass/base.scss */
select,
textarea,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="week"],
input[type="url"] {
  color: #444;
  display: inline-block;
  display: -moz-inline-stack;
  line-height: 18px;
  font-size: 12px;
  padding: 7px;
  vertical-align: middle;
  zoom: 1;
  *vertical-align: auto;
  *display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 86, ../sass/base.scss */
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: border, box-shadow;
  -moz-transition-property: border, box-shadow;
  -o-transition-property: border, box-shadow;
  transition-property: border, box-shadow;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 124, ../sass/base.scss */
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: rgba(73, 143, 229, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* line 147, ../sass/base.scss */
p {
  margin: 0;
}

/* line 151, ../sass/base.scss */
hr {
  margin: 20px 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

/* line 158, ../sass/base.scss */
hr.small {
  margin: 5px 0;
}

/* line 162, ../sass/base.scss */
hr.medium {
  margin: 40px 0;
}

/* line 166, ../sass/base.scss */
hr.big {
  margin: 75px 0;
}

/* line 170, ../sass/base.scss */
hr.thick {
  border-top: 2px solid #e0e0e0;
}

/*-------------------------------------
  Loader
 -------------------------------------*/
/* line 178, ../sass/base.scss */
#loader {
  height: 60px;
  left: 0;
  margin-top: -29px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 1000;
}

/* line 189, ../sass/base.scss */
div.spinner-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  height: 58px;
  margin: auto;
  position: relative;
  width: 58px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 200, ../sass/base.scss */
div.spinner-wrapper div.spinner {
  height: 40px;
  margin: 10px;
  position: relative;
  top: 10px;
  width: 40px;
}

/* line 208, ../sass/base.scss */
div.spinner-wrapper div.spinner div {
  background: #fff;
  height: 25%;
  left: 43.5%;
  opacity: 0;
  position: absolute;
  top: 37%;
  width: 10%;
  -webkit-animation: fade 1s linear infinite;
  -moz-animation: fade 1s linear infinite;
  -o-animation: fade 1s linear infinite;
  animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 228, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg) translate(0, -142%);
  -moz-transform: rotate(0deg) translate(0, -142%);
  -ms-transform: rotate(0deg) translate(0, -142%);
  -o-transform: rotate(0deg) translate(0, -142%);
  transform: rotate(0deg) translate(0, -142%);
}

/* line 240, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar2 {
  -webkit-animation-delay: -0.9167s;
  -moz-animation-delay: -0.9167s;
  -o-animation-delay: -0.9167s;
  animation-delay: -0.9167s;
  -webkit-transform: rotate(30deg) translate(0, -142%);
  -moz-transform: rotate(30deg) translate(0, -142%);
  -ms-transform: rotate(30deg) translate(0, -142%);
  -o-transform: rotate(30deg) translate(0, -142%);
  transform: rotate(30deg) translate(0, -142%);
}

/* line 252, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar3 {
  -webkit-animation-delay: -0.833s;
  -moz-animation-delay: -0.833s;
  -o-animation-delay: -0.833s;
  animation-delay: -0.833s;
  -webkit-transform: rotate(60deg) translate(0, -142%);
  -moz-transform: rotate(60deg) translate(0, -142%);
  -ms-transform: rotate(60deg) translate(0, -142%);
  -o-transform: rotate(60deg) translate(0, -142%);
  transform: rotate(60deg) translate(0, -142%);
}

/* line 264, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar4 {
  -webkit-animation-delay: -0.75s;
  -moz-animation-delay: -0.75s;
  -o-animation-delay: -0.75s;
  animation-delay: -0.75s;
  -webkit-transform: rotate(90deg) translate(0, -142%);
  -moz-transform: rotate(90deg) translate(0, -142%);
  -ms-transform: rotate(90deg) translate(0, -142%);
  -o-transform: rotate(90deg) translate(0, -142%);
  transform: rotate(90deg) translate(0, -142%);
}

/* line 276, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar5 {
  -webkit-animation-delay: -0.667s;
  -moz-animation-delay: -0.667s;
  -o-animation-delay: -0.667s;
  animation-delay: -0.667s;
  -webkit-transform: rotate(120deg) translate(0, -142%);
  -moz-transform: rotate(120deg) translate(0, -142%);
  -ms-transform: rotate(120deg) translate(0, -142%);
  -o-transform: rotate(120deg) translate(0, -142%);
  transform: rotate(120deg) translate(0, -142%);
}

/* line 288, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar6 {
  -webkit-animation-delay: -0.5833s;
  -moz-animation-delay: -0.5833s;
  -o-animation-delay: -0.5833s;
  animation-delay: -0.5833s;
  -webkit-transform: rotate(150deg) translate(0, -142%);
  -moz-transform: rotate(150deg) translate(0, -142%);
  -ms-transform: rotate(150deg) translate(0, -142%);
  -o-transform: rotate(150deg) translate(0, -142%);
  transform: rotate(150deg) translate(0, -142%);
}

/* line 300, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar7 {
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
  -o-animation-delay: -0.5s;
  animation-delay: -0.5s;
  -webkit-transform: rotate(180deg) translate(0, -142%);
  -moz-transform: rotate(180deg) translate(0, -142%);
  -ms-transform: rotate(180deg) translate(0, -142%);
  -o-transform: rotate(180deg) translate(0, -142%);
  transform: rotate(180deg) translate(0, -142%);
}

/* line 312, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar8 {
  -webkit-animation-delay: -0.41667s;
  -moz-animation-delay: -0.41667s;
  -o-animation-delay: -0.41667s;
  animation-delay: -0.41667s;
  -webkit-transform: rotate(210deg) translate(0, -142%);
  -moz-transform: rotate(210deg) translate(0, -142%);
  -ms-transform: rotate(210deg) translate(0, -142%);
  -o-transform: rotate(210deg) translate(0, -142%);
  transform: rotate(210deg) translate(0, -142%);
}

/* line 324, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar9 {
  -webkit-animation-delay: -0.333s;
  -moz-animation-delay: -0.333s;
  -o-animation-delay: -0.333s;
  animation-delay: -0.333s;
  -webkit-transform: rotate(240deg) translate(0, -142%);
  -moz-transform: rotate(240deg) translate(0, -142%);
  -ms-transform: rotate(240deg) translate(0, -142%);
  -o-transform: rotate(240deg) translate(0, -142%);
  transform: rotate(240deg) translate(0, -142%);
}

/* line 336, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar10 {
  -webkit-animation-delay: -0.25s;
  -moz-animation-delay: -0.25s;
  -o-animation-delay: -0.25s;
  animation-delay: -0.25s;
  -webkit-transform: rotate(270deg) translate(0, -142%);
  -moz-transform: rotate(270deg) translate(0, -142%);
  -ms-transform: rotate(270deg) translate(0, -142%);
  -o-transform: rotate(270deg) translate(0, -142%);
  transform: rotate(270deg) translate(0, -142%);
}

/* line 348, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar11 {
  -webkit-animation-delay: -0.1667s;
  -moz-animation-delay: -0.1667s;
  -o-animation-delay: -0.1667s;
  animation-delay: -0.1667s;
  -webkit-transform: rotate(300deg) translate(0, -142%);
  -moz-transform: rotate(300deg) translate(0, -142%);
  -ms-transform: rotate(300deg) translate(0, -142%);
  -o-transform: rotate(300deg) translate(0, -142%);
  transform: rotate(300deg) translate(0, -142%);
}

/* line 360, ../sass/base.scss */
div.spinner-wrapper div.spinner div.bar12 {
  -webkit-animation-delay: -0.0833s;
  -moz-animation-delay: -0.0833s;
  -o-animation-delay: -0.0833s;
  animation-delay: -0.0833s;
  -webkit-transform: rotate(330deg) translate(0, -142%);
  -moz-transform: rotate(330deg) translate(0, -142%);
  -ms-transform: rotate(330deg) translate(0, -142%);
  -o-transform: rotate(330deg) translate(0, -142%);
  transform: rotate(330deg) translate(0, -142%);
}

/* line 373, ../sass/base.scss */
.mini-loader {
  border: 2px solid #0cf;
  border-color: transparent;
  border-top-color: #0cf;
  border-left-color: #0cf;
  display: inline-block;
  display: -moz-inline-stack;
  height: 10px;
  position: relative;
  vertical-align: middle;
  width: 10px;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-animation: spin 0.75s infinite linear;
  -moz-animation: spin 0.75s infinite linear;
  -o-animation: spin 0.75s infinite linear;
  animation: spin 0.75s infinite linear;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

@-moz-keyframes fade {
  /* line 398, ../sass/base.scss */
  from {
    opacity: 1;
  }

  /* line 402, ../sass/base.scss */
  to {
    opacity: 0.25;
  }
}
@-webkit-keyframes fade {
  /* line 408, ../sass/base.scss */
  from {
    opacity: 1;
  }

  /* line 412, ../sass/base.scss */
  to {
    opacity: 0.25;
  }
}
@-o-keyframes fade {
  /* line 418, ../sass/base.scss */
  from {
    opacity: 1;
  }

  /* line 422, ../sass/base.scss */
  to {
    opacity: 0.25;
  }
}
@keyframes fade {
  /* line 428, ../sass/base.scss */
  from {
    opacity: 1;
  }

  /* line 432, ../sass/base.scss */
  to {
    opacity: 0.25;
  }
}
