  #popup {
    height: 250px;
    padding: 20px;
    width: 400px;
  }

  h1, h6 {
    display: inline-block;
  }

  h1 {
    color: #1889f3;
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 5px;
  }

  h6 {
    color: #999;
    font-weight: 300;
    font-size: 11px;
    margin-left: 1px;
    white-space: nowrap;
  }

  #interviewInfo,
  #generatedURL {
    display: none;
  }

  #generatedURL {
    margin-top: 10px;
  }

  #interviewURL {
    margin-right: 2%;
    width:  72%;
  }

  #copyURL {
    width: 20%;
  }

  #signin #username,
  #signin #password {
    width: 100%;
  }

  #signin #username {
    margin-right: 5px;
  }

  #signin p {
    color: #222;
    font-size: 11px;
    margin: 15px 0 10px;
  }

  #signin a {
    outline: none;
  }

  #signin button,
  #signin #forgot {
    display: inline-block;
    display: -moz-inline-block;
    vertical-align: middle;
    zoom: 1;
  }

  #signin #forgot {
    font-size: 11px;
    height: 10px;
    margin-left: 10px;
    white-space: nowrap;
  }

  #signin .btn {
    margin-top: 10px;
  }
